<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Login</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>

	<div class="form-container">

		<h2>USER LOGIN</h2>

		<!-- ERROR MESSAGE -->
		<p th:if="${error}" th:text="${error}" style="color:red;"></p>

		<form action="/loginUser" method="post">

			<input type="text" name="email" placeholder="enter email" required>

			<input type="password" name="password" placeholder="enter password" required>

			<button type="submit">Login</button>
			<br> <br>
			<a href="/forgot-password">Forgot Password?</a>

		</form>

	</div>

</body>

</html>