<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Register</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
	<div class="form-container">
		<h2>user registration</h2>
		<form action="/saveUser" method="post">
			<input type="text" name="userName" placeholder="enter username" required>
			<input type="text" name="email" placeholder="enter email" required>
			<input type="password" name="password" placeholder="enter password" required>
			

			<select name="role">
				<option value="">-- Select Role --</option>
				<option value="USER">User</option>
				<option value="ADMIN">Admin</option>
			</select>
			<button type="submit">Register </button>
		</form>
	</div>
</body>

</html>